@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home{
  background: transparent;
  background-color: #FEC8D8;
}

.RIssueMaterial,
.RPoReceipt {
  display: flex;
  height: 90vh;
  /* align-items: first baseline; */
  /* align-items: center; 
  justify-content: center; */
  /* font-size: 3rem; */
  /* background-image: url(./Icon/HH.png); */
  /* background-size: 1920px 1080px; */
  background-color: #e1c3d3;
  color: rgb(255, 255, 255);
  /* text-decoration:solid ;  */
}


.MDBCardBody{
  background-color: #F4F4F4;
}
.custom-card-title {
  font-size: 24px; /* Change the value to your desired font size */
  font-weight: bold;
  text-decoration-line: underline;
  
}

.text{
  justify-content: flex-start;
  background-color: #0b0b0b;
  text-align: center;
}

.home2 {
  /* align-items: center;  */
  /* display: flex; */
  justify-content: flex-start;
  align-items: center; 
  justify-content: center;
  padding: 8px 0px 8px 16px;
}

/* Navbar CSS */
.navbar {
  background-color: #D291BC;
  height: 80px;
  display: solid;
  justify-content: flex-start;
  align-items: center;
  
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #ffffff;
}

.nav-menu {
  background-color: #ecc6c6;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
  color: #ec0b0b;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  color: #ec0b0b;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: bold;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #C9C1E7;
  color: #0e0d0d;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #D291BC;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-text{
  font-weight: bold;
  /* text-decoration-line: underline; */
}

.rcv-val{
  padding: 0 5px;
  color: blue;
  font-weight: normal;
}

/* .RPORDTL{
  background-color: rgb(216, 226, 232);
  font-weight: bold;
} */

.RPORFunctionName{
  background-color: rgb(213, 229, 242);
}

.RPORDTL{
  font-weight: bold;
}
.RIMFunctionName
{
  background-color: rgb(213, 229, 242);
}

.mb-3{
  font-weight: bold;
}

.form-label{
  text-decoration-line: underline;
}

.JobDtl-Confirm-btn{
  margin-right:15px;
  justify-content: center;
  
}

.btn{
  margin-right:15px;
}

.RPOVAL{
  color: blue;
  text-decoration-line: underline;
}

/* .RPORbtn{
  margin-left:15px;
} */
.modal-modal-description{
  font-size: 30px;
}

.RASNFunctionName{
  background-color: rgb(213, 229, 242);
}

.shotcutPO,
.shotcutASN{

  border: transparent; 
  background: transparent;
  margin-left: 35px;
  height: auto;
  width: auto ;
  
}

.shotcuttext{
  margin-top: 12px;
  font-weight: bold;
  font-size: 24px;
  width: auto ;
  height: auto;
  align-items: center; 
}


span {
  margin-left: 16px;
}